{% extends 'base.html' %}

{% block title %}Movimentar Estoque de {{ produto.nome }}{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2>Movimentar Estoque de: {{ produto.nome }}</h2>
        <hr>
        <p><strong>Estoque Atual:</strong> {{ produto.quantidade_estoque }} {{ produto.unidade_medida }}</p>

        <form method="post">
            {% csrf_token %} {# Proteção contra ataques CSRF #}
            {{ form.as_p }} {# Renderiza o formulário como parágrafos #}
            <button type="submit" class="btn btn-success">Registrar Movimentação</button>
            <a href="{% url 'detalhe_produto' produto.pk %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
{% endblock %}